@import 'base';

*, *::before, *::after{
  box-sizing: inherit;
}

.button {
  text-align: center;
  margin-top: 26px;
}

.btn{
  border: none;
  background: none;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  cursor: pointer;
  padding: 12px 22px;
  margin: 12px;
  margin-right: 4px;
}

.btn a{
  text-decoration: none;
  color: black;
  text-shadow: 0.40px 0.40px 0.40px #011c05;
}

.btnorder{
  background-color: rgba(28, 61, 8, 0.8);
  border-radius: 5px;
}

.btnorder a{
  color: white;
}

.btn:hover a{
  color: rgba(28, 61, 8, 0.8);
}

.btnorder:hover a{
  color: black;
}
